@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Trainner MCC";
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Selamat Datang Trainner @Context.Session.GetString("Username")</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card-people mt-auto">
                <img src="~/images/people.svg" alt="people">
                <div class="weather-info">
                    <div class="d-flex">
                        <div>
                            <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                        </div>
                        <div class="ml-2">
                            <h4 class="location font-weight-normal">Jakarta</h4>
                            <h6 class="font-weight-normal">Indonesia</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-12 grid-margin stretch-card" style="margin: 0 auto;">
                <div class="card">
                    <div class="card-body text-center" style="background-color: #dae8fd; border-radius: 20px;">
                        <h4 class="card-title">Jumlah Siswa Bootcamp Tiap Kelas</h4>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Dashboard/trainner.js" asp-append-version="true"></script>
}